# Next.js 
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts

backend/.venv
backend/venv
backend/.env
backend/.env.*
backend/.mypy_cache
backend/.pytest_cache
backend/__pycache__
backend/instance
backend/instance/*
backend/uploads/
backend/uploads/*
